{% extends "base.html" %}
{% block content %}
<br>
{% if post.image_name %}
<image src="{{url_for('static',filename = post.image_name)}}" class="center-block">
{% endif %}

<div class="text-center post-head">
    
      <h2 class="post-title">
        {{ post.title }}
      </h2>
    </a>
    <p class="post-meta">Posted by Lmao on {{ post.date.strftime('%d/%m/%Y') }}</p>
  </div>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.body }}
        </div>
        
      </div>
      
  </article>
  <div class="text-center">
    <hr>
      {% if current_user.has_liked_post(post) %}
            <button class="btn btn-primary unlikeButton" post_id="{{  post.id }}">Unlike</button>
            {% else %}
            <button class="btn btn-primary likeButton" post_id="{{ post.id }}">Like</button>
            {% endif %}
            </div>
  </div>
  

{% endblock %}