{% extends "base.html" %}
{% block content %}
<form  method="GET" action="search">
    <div class="input-group mb-3" >
        <input type="text" name="query" id="query" class="form-control" placeholder="Blog Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      </div>
</form>
{% for blog in blogs %}
<div class="blog-preview">
        <h5>
          Blog name:{{blog.blog_name }}
        </h5>
        <h5>
          Number of posts:{{blog.posts|length}}
        </h5>
        {% if current_user.has_followed_blog(blog) %}
        <button class="btn btn-primary float-right unfollowButton" blog_id="{{  blog.blog_name }}">Unfollow</button>
        {% else %}
        <button class="btn btn-primary float-right followButton" blog_id="{{  blog.blog_name }}">Follow</button>
        {% endif %}
      </div>
      <br>
      <br>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
   
{% endfor %}


{% endblock %}